asgiref==3.4.1
certifi==2025.1.31
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
cryptography==40.0.2
defusedxml==0.8.0rc2
Django==3.2
django-appconf==1.0.5
django-compressor==3.0
django-pgviews==0.6.0
idna==3.10
mccabe==0.6.1
mistune==0.8.3
oauthlib==3.2.2
psycopg2-binary==2.7.4
pycodestyle==2.4.0
pycparser==2.21
pyflakes==2.0.0
PyJWT==2.4.0
python3-openid==3.2.0
pytz==2018.4
PyWavefront==1.0.2
rcssmin==1.1.0
requests==2.27.1
requests-oauthlib==2.0.0
rjsmin==1.2.0
six==1.17.0
social-auth-app-django==5.0.0
social-auth-core==4.4.2
sqlparse==0.4.4
typing_extensions==4.1.1
urllib3==1.26.20